.dashboard-container{
    display: flex;
    flex-direction: column;
}

.dashboard-container-header{
    color: var(--first-color);
    font-weight: bold;
    margin-bottom: 2rem;
}

.dashboard-container-content .content-cards{
    display: flex;
}

.content-cards > div{
    margin-right: 2rem;
}

.dashboard-container-about{
    margin-top: 2rem;
}
