.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-container-header{
    background-image: url(../../../../../assets/online-doctor.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
    height: 5rem;
    font-weight: bold;
    display: flex;
    width: 100%;
    background-color: var(--first-color);
    color: #fff;
    border-radius: .3rem;
    padding: 2rem;
}

.content-container-content{
    border-left: 3px solid var(--first-color);
    border-right: 3px solid var(--first-color);
    margin: 1rem 0;
    border-radius: .3rem;
    padding: 2rem;
    width: 60%;
    box-shadow: 2px 3px 10px #00000048;
}

.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #171717;
}

.form-control:active{
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #61eb34;
    transition: none;
}

.check-box-container{
    display: flex;
    flex-wrap: wrap;
}

.check-box-container .form-check{
    width: 8rem;
}

.form-action-buttons{
    display: flex;
    justify-content: end;
}

.form-action-buttons button{
    background-color: var(--first-color);
    width: 10rem;
}

