.facts-page-container{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 1rem;
    box-shadow: 2px 3px 50px #00000048;
    padding: 2rem;
    background-color: #6142da;
    /* background: linear-gradient(350deg, var(--first-color) 30%, #ffffff 70%); */
}


.slide-container {
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.facts-title{
    width: 100%;
    display: flex;
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.facts-body{
    font-size: 12px;
    color: #ffffff;
}

.slide-single-container{
    height: 10rem;
    width: 10rem;
    border: 1px solid #ffff;
    box-shadow: 2px 3px 10px #00000048;
    background-color: #6142da;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 2rem;
    padding: 1rem;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 2px 3px 10px #00000048;
    cursor: pointer;
}

.button-content{
    margin-right: .3rem;
    font-size: 9px;
    font-weight: bold;
}

.addButton{
    width: 1rem;
    height: 1rem;
}


.slide-icon{
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}